/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/upload/
.idea
docker/mysql/
public/tecdoc_images
public/img/
sxd/
public/img/
public/images/
public/tecdoc_images
composer.phar
docker/elasticdata
#public/mix-manifest.json
#public/RoyalUI
#public/
.htaccess
.htpasswd
public/.htaccess
public/*.xml
