.popup-black2 {
    display: unset;
}
.header__popup-search {
    top: 95px;
}

.popup-black2-container {
    position: relative;
}
.header__popup-search {
    display: block;
}

.category__block-item {
    text-align:center;
}
.category__block-title span {
    width:100%;
}


.header__cart-dropdown {
    display: block;
}

.header__cart {
    margin-right: 0;
    cursor: pointer
}

.search__model-cover {
    &:hover {
        .search__model-dropdown {
            display: none;
            &.active {
                display: flex;
            }
        }
    }
    .search__model-dropdown {
        &.active {
            display: flex;
        }
    }
    .search__model-subtext {
        display: block;
    }
}

.header__punkt.header__car {
    cursor: pointer;
}

.header__punkt.header__car.active {
    .header__car-dropdown {
        display: block;
    }
}
.header__punkt.header__car:hover {
    .header__car-dropdown {
        display: none;
    }
}
.header__punkt.header__car.active:hover {
    .header__car-dropdown {
        display: block;
    }
}
.subcategory__pagination {
    li:first-child a {
        font-size: 20px;
    }
    li {
        a.current {
            color: #212121;
        }
    }
    li:last-child a {
        font-size: 20px;
    }
}

.show-more-text {
    overflow: hidden;
    max-height: 110px;
}

.manufacturers__show-more {
    margin-top: 25px;
}

@media screen and (min-width: 1439.98px) {
    header.header {
        min-height: 168px;
    }
}

.subcategory__pagination {
    flex-wrap: wrap;
    li {
        min-height: 50px;
    }
}

.catalog__choose_car_container {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    left: 50%;
}

.popup-black2.d-block.layout {
    z-index: 5;
}

.subcategory__sidebar-clear-link {
    background: none;
    border: 1px solid #c20f14;
    color: #c20f14;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
    height: 38px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    line-height: 38px;
}

.companies__catalog {
    .d-flex.flex-column.hidden {
        display: none !important;
    }
}

.search__model-cover.disabled {
    color: #d2d2d2;
}

#model {
    .search__model-cover.hidden {
        color: #d2d2d2;
    }
}
